<div class="jumbotron mt-4">
    <h1 class="display-4">Inverdadero APP</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, vitae ex quia voluptatem eos repellat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloremque nobis eius quia nihil dolore?</p>
    <a href="" class="btn btn-primary">Facebook</a>
</div>
    
